{{define "header"}}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SSP - Self Service Portal</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/offcanvas.css" rel="stylesheet">
  </head>

  <body class="bg-light">

    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-k8s-blue">
      <a class="navbar-brand" href="/">Self Service Portal</a>
      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <!-- <a class="nav-link" href="/">Dashboard <span class="sr-only">(current)</span></a> -->
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-light" type="submit">Logout</button>
        </form>
      </div>
    </nav>
    <main role="main" class="container">
      <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-k8s-black rounded box-shadow">
        <img class="mr-3" src="/static/images/kubernetes-icon.svg" alt="" width="48" height="48">
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">Cluster: k8s-1.demo.io</h6>
        </div>
      </div>
    </main>
{{ end }}