{{ define "listPage" }}
{{template "header"}}
<main role="main" class="container custom-container">
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">Jobs:</h6>
{{ range . }}
    <div class="media text-muted pt-3">

      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark">Template: {{ .name }}</strong>
          <a href="/launch/{{ .name }}" class="btn btn-primary btn-sm" role="button">Launch</a>
        </div>
        {{ range $key, $value := .metadata }}
        <span class="d-block">{{ $key }}: {{ $value }}</span>
        {{ end }}
      </div>
    </div>
{{ end }}
    <small class="d-block text-right mt-3">
      <a href="#">See Source</a>
    </small>
  </div>
</main>
{{template "footer"}}
{{ end }}